@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
 }

 :root{
    --whiteP: hsl(0, 0%, 100%);
    --lightViolete: hsl(270, 3%, 87%);
    --darkViolete: hsl(279, 6%, 55%);
    --darkerViolete: hsl(278, 68%, 11%);
    --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --redError: hsl(0, 100%, 66%);

 }
 
 .big_area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .content_area{
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
 }

 .content_area_row{
    width: 85%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 .bg{
    padding-top: 1em;
    background-image: url('../images/bg-main-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.card_front{
    width: 250px;
    height: 150px;
    background-image: url('../images/bg-card-front.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 6.5em;
    left: 2em;
}

.card_front .front_text{
    color: var(--whiteP);
    margin-top: 2em;
    
}

#card_number{
    margin-bottom: 1em;
}

.card_back{
    width: 250px;
    height: 150px;
    background-image: url('../images/bg-card-back.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
}

.card_back p {
    margin-top: 4em;
    margin-left: 12em;
}

input{
    display: block;
    padding: .5em;
    border: 1px solid;
    border-radius: 5px;
    border-color: gray;
    outline: none;
    margin: 1em 0;
}
#card_name_input, #card_num_input{
    width: 300px;
}

#card_date_m, #card_date_y{
    width: 50px;
    
}

#card_cvv_input{
    width: 70px;
}

form button{
    width: 100%;
    padding: 0.8em 0;
    border: none;
    border-radius: 10px;
    background-color: var(--darkerViolete);
    color: var(--whiteP);
}

.form{
    margin-top: 8em;
}

.descktop{
    display: none;
}

@media(min-width: 1024px){
    main{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .mobile{
        display: none;
    }

    .descktop{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bg{
        padding-top: 0;
        height: 100vh;
        width: 350px;
    }

    .card_front{
        width: 250px;
        height: 150px;
        background-image: url('../images/bg-card-front.png');
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 9rem;
        top: 10rem;
        border-radius: 10px;
        padding: 10px;
        
    }
    
    .card_front .front_text{
        color: var(--whiteP);
        margin-top: 2em;
        
    }
    
    #card_number{
        margin-bottom: 1em;
    }
    
    .card_back{
        width: 250px;
        height: 150px;
        background-image: url('../images/bg-card-back.png');
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 12em;
        top: 22rem;
        border-radius: 10px;
        padding: 10px;
    }
    
    .card_back p {
        margin-top: 4em;
        margin-left: 12em;
    }
}